
# ignore the ocr and script directories that do their own thing
./ocr
./scripts

# ignore what the .gitignore ignores
*.idea/
*.cache/

# OS
*.DS_Store

# Python
*.pyc
*.pytest_cache
*__pycache__/
venv

# Jupyter notebook
*-checkpoint.ipynb

# Lock files
.~lock*
